<link rel="stylesheet" href="/css/perfil-modificar.css" />
{{> barra}}
<div class="DivCont">

  <div class="ContDatosIzq">
    <div class="DivImg">
      <figure>
        <img class="Img" src="/img/messi.jpg" alt="Foto Perfil" />
      </figure>
      <button>Editar Foto</button>
    </div>

    <div class="GrupoContacto">
      <h2>Contactos</h2>

      <div class="Contactos">
        <figure>
          <img class="Img" src="/img/wsp.png" alt="WhatsApp" />
        </figure>
        <input class="Enlaces" type="url" placeholder="link de WhatsApp" />
      </div>

      <div class="Contactos">
        <figure>
          <img class="Img" src="/img/twitter.jpg" alt="Twitter" />
        </figure>
        <input class="Enlaces" type="url" placeholder="link de Twitter" />
      </div>

      <div class="Contactos">
        <figure>
          <img class="Img" src="/img/instagram.png" alt="Instagram" />
        </figure>
        <input class="Enlaces" type="url" placeholder="link de Instagram" />
      </div>

      <div class="Contactos">
        <figure>
          <img class="Img" src="/img/fb.png" alt="Facebook" />
        </figure>
        <input class="Enlaces" type="url" placeholder="link de Facebook" />
      </div>

      <div class="Contactos">
        <figure>
          <img class="Img" src="/img/watt.png" alt="Wattpad" />
        </figure>
        <input class="Enlaces" type="url" placeholder="link de Wattpad" />
      </div>
    </div>

  </div>

  <form
    class="ContDatosDer"
    action="/links/edituser/{{user.dni}}"
    method="POST"
  >

    <h1>{{user.nombre}} {{user.apellidoPaterno}} {{user.apellidoMaterno}}</h1>

    {{#if message}}
      <div id="message" class="mensaje">
        {{message}}
      </div>
    {{/if}}

    <div class="GrupoDatosModificar">
      <div class="GrupoInfoPersonal">
        <h2>Información Personal</h2>

        <div class="GrupoInput">
          <label for="nombres">Nombres</label>
          <input
            class="Input"
            type="text"
            id="nombre"
            name="nombre"
            value="{{user.nombre}}"
          />
        </div>

        <div class="GrupoInput">
          <label for="apellidoP">Apellido Paterno</label>
          <input
            class="Input"
            type="text"
            id="apellidoPaterno"
            name="apellidoPaterno"
            value="{{user.apellidoPaterno}}"
          />
        </div>

        <div class="GrupoInput">
          <label for="apellidoM">Apellido Materno</label>
          <input
            class="Input"
            type="text"
            id="apellidoMaterno"
            name="apellidoMaterno"
            value="{{user.apellidoMaterno}}"
          />
        </div>

        <div class="GrupoInput">
          <label for="celular">Número Celular</label>
          <input
            class="Input"
            type="tel"
            id="celular"
            name="telefono"
            value="{{user.telefono}}"
          />
        </div>

        <div class="GrupoInput" style="margin-bottom: 0;">
          <label style="margin-bottom: 1rem">Género</label>
          <label style="margin-bottom: 1.3rem"><input
              type="radio"
              name="genero"
              value="Masculino"
              {{checked user.genero "M"}}
            />Masculino</label>
          <label style="margin-bottom: 1.3rem"><input
              type="radio"
              name="genero"
              value="Femenino"
              {{checked user.genero "F"}}
            />Femenino</label>
          <label style="margin-bottom:1.3rem"><input
              type="radio"
              name="genero"
              value="Otro"
              {{checked user.genero "O"}}
            />Otro</label>
        </div>

        <div class="GrupoInput">
          <label for="nacimiento">Fecha de Nacimiento</label>
          <input
            class="Input"
            type="date"
            id="fecha_nacimiento"
            name="fecha_nac"
            value="{{user.fecha}}"
          />
        </div>
      </div>

      <div class="GrupoInfoCuenta">
        <h2>Información de la cuenta</h2>

        <div class="GrupoInput">
          <label for="usuario">Usuario</label>
          <input
            class="Input"
            type="text"
            id="usuario"
            name="usuario"
            value="{{user.nombre}} {{user.apellidoPaterno}} {{user.apellidoMaterno}}"
          />
        </div>

        <div class="GrupoInput">
          <label for="correo">Correo</label>
          <input
            class="Input"
            type="email"
            id="correo"
            name="correo_electronico"
            value="{{user.correo_electronico}}"
          />
        </div>

        <div class="GrupoInput">
          <label for="contra">Contraseña</label>
          <input
            class="Input"
            type="password"
            id="contra"
            name="password"
            value="{{user.password}}"
          />
        </div>

        <h2>Dirección</h2>

        <div class="GrupoInput">
          <label for="distrito">Distrito</label>
          <select class="Input" name="id_distrito">
              {{#each distrito}}
              <option value="{{id_distrito}}" {{selected id_distrito ../user.codigodistrito}}</option>
                    {{des_distrito}}
              </option>
              {{/each}}

              {{!-- <option>Hola</option>
              <option selected="selected">Chao</option>
              <option>Adios</option> --}}
          </select>
        </div>

        <div class="GrupoInput">
          <label for="direc">Dirección</label>
          <input
            class="Input"
            type="text"
            id="direccion"
            name="direccion"
            value="{{user.direccion}}"
          />
        </div>

      </div>
    </div>
    <div class="GrupoBoton">
      <button class="BotonConfirmar">Confirmar Edición</button>
    </div>
  </form>
</div>

{{#if message}}
<script>
  document.getElementById("message").classList.add('mensaje-activar')
  setTimeout(() => {
  document.getElementById("message").classList.remove('mensaje-activar'); }, 5000);
</script>
{{/if}}